version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-nextjs-app
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    restart: always
